[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = ">=5.1"
anytree = ">=2.8.0"
jinja2 = ">=3.0.0"
pytest = ">=2.7.2"
dacite = ">=1.6.0"

[dev-packages]

[requires]
python_version = "3.10"
