{% if item.package %}
package {{ item.package }};

{% endif %}
{% if item.imports %}
{% for import in item.imports %}
{{ gen(import) }}
{% endfor %}

{% endif %}
{% if item.options %}
{% for option in item.options %}
{{ gen(option) }}
{% endfor %}

{% endif %}
{% if item.messages %}
{% for message in item.messages %}
{{ gen(message) }}
{% endfor %}

{% endif %}
{% if item.enums %}
{% for enum in item.enums %}
{{ gen(enum) }}
{% endfor %}

{% endif %}
{% if item.services %}
{% for service in item.services %}
{{ gen(service) }}
{% endfor %}

{% endif %}
