name: Unit Tests
on: [push, pull_request]

jobs:
  mixed_tests:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version:
        - '3.8.x'
        - '3.11.x'
        - '3.12.x'
        - 'pypy3.10'

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -V
          pip install -r requirements.txt

      - name: Install ifex module
        run: |
          pip install -e .

      - name: Run unit tests
        run: |
          pytest -v tests

      - name: Clone VSC repository
        run: |
          git clone https://github.com/COVESA/vehicle_service_catalog/

      - name: Run simple generator tool on VSC content
        run: |
          ifexgen vehicle_service_catalog/comfort-service.yml -d simple

      - name: Run DTDL template
        run: |
          ifexgen vehicle_service_catalog/comfort-service.yml -d dtdl > dtdl.out

      - name: Run Protobuf template and verify output is correct Proto
        run: |
          sudo apt install -y protobuf-compiler
          ifexgen vehicle_service_catalog/comfort-service.yml -d protobuf > comfort-service.proto
          mkdir tmp
          protoc --cpp_out=tmp comfort-service.proto

      - name: Run BAMM template
        run: |
          ifexgen vehicle_service_catalog/comfort-service.yml -d sds-bamm > bamm.out

      - name: Run D-Bus generator
        run: |
          ifexgen_dbus vehicle_service_catalog/comfort-service.yml >d-bus.out
          cat d-bus.out

      - name: Run JSON-Schema generator
        run: |
          python output_filters/schema/ifex_to_json_schema.py >temp-schema
          python output_filters/schema/pretty_print_json.py temp-schema >ifex-core-idl-schema.json

      - name: Clone uservices repository
        run: |
          git clone https://github.com/COVESA/uservices/

      - name: Run protobuf->IFEX translation
        run: |
          ifexconv_protobuf uservices/src/main/proto/vehicle/chassis/suspension/v1/suspension_topics.proto >suspension_topics.ifex
          cat suspension_topics.ifex
