name: Run Unit Tests

on: [push, pull_request]

jobs:
  buildtest:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.10.6

      - name: Install dependencies
        run: |
          python -V
          pip install pyyaml
          pip install pytest
          pip install anytree
          pip install jinja2

      - name: Install vsc module
        run: |
          python setup.py develop

      - name: Run unit test
        run: |
          pytest -v

      - name: Run example tool on latest VSC
        run: |
          git clone https://github.com/COVESA/vehicle_service_catalog/ -b input_output
          python vsc/model/vsc_generator.py vehicle_service_catalog/comfort-service.yml simple_overview.tpl

